@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate-up-down {
    animation-name: animate-up-down-Anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes animate-up-down-Anim {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(20px);
    }
  }
}
